<h2>Add a comment</h2>

<% @comment.errors.each do |attribute, message| %>
  <%= message %>
<% end %>

<%= form_for [@post, @comment] do |t| %>

  <%= t.text_area :body %>
  <%= t.submit "Add Comment" %>
<% end %>